/* Banniere */

#page
{
    width:80%;
    margin:auto;
    display:flex;
    flex-direction:column; 
}


#imageBanniere
{
    position:relative;
    width:100%;
}


#imageMap
{
    position:relative;
    width:100%;
}

#map
{
    position:relative;
    width:100%;
    height:500px;
}

#description
{
    position:relative;
    width:100%;
    border:1px solid black;
    padding:5px 10px 5px 10px;
    margin-top:5px;
    margin-bottom:5px;
    /*visibility:hidden;*/
} 
    

